<!-- INCLUDE overall_header.html -->

<h2 class="mb-1 text-2xl font-medium">{TITLE}</h2>

<!-- IF posts -->
<!-- BEGIN posts -->
<div class="border border-gray-300 rounded shadow-sm my-3">
	<div class="bg-gray-100 border-b border-gray-300 px-4 py-2">
		<div class="flex justify-between items-center">
			<div>
				<div class="flex justify-between items-center align-middle hidden md:flex">
					<div class="flex-none p-1 mr-2">
						<div class="activity_stream_avatar">{posts.POST_AUTHOR_AVATAR}</div>
					</div>

					<div class="flex-1 text-left">
						<div class="text-lg font-medium">
							{posts.POST_AUTHOR} made a post in <a href="{posts.POST_LINK}" title="{posts.TOPIC_TITLE}"
																  class="font-medium">{posts.TOPIC_TITLE}</a>
						</div>
						<div>
							<svg class="w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
								 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
								 stroke-linecap="round" stroke-linejoin="round">
								<path d="M14 19c3.771 0 5.657 0 6.828-1.172C22 16.657 22 14.771 22 11c0-3.771 0-5.657-1.172-6.828C19.657 3 17.771 3 14 3h-4C6.229 3 4.343 3 3.172 4.172 2 5.343 2 7.229 2 11c0 3.771 0 5.657 1.172 6.828.653.654 1.528.943 2.828 1.07"/>
								<path d="M14 19c-1.236 0-2.598.5-3.841 1.145-1.998 1.037-2.997 1.556-3.489 1.225-.492-.33-.399-1.355-.212-3.404L6.5 17.5"/>
							</svg>
							Forum Activity in <a href="{posts.FORUM_LINK}" title="{posts.FORUM_TITLE}">{posts.FORUM_TITLE}</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<span>{posts.POST_DATE}</span>
			</div>
		</div>
	</div>
	<div class="bg-white px-4 py-4 overflow-ellipsis truncate">
		{posts.POST_TEXT}
	</div>
</div>
<!-- END posts -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->