<!-- INCLUDE overall_header.html -->

<h2 class="mb-1 text-2xl font-medium">{L_FAQ_TITLE}</h2>

<div class="grid grid-cols-2 md:grid-cols-12 gap-6 my-3" id="faqlinks">
	<!-- BEGIN faq_block -->
	<div class="col-span-4 px-3 py-3 bg-gray-50 rounded border border-gray-200">
		<p class="font-medium border-b-2 border-gray-200 mb-1 text-gray-800 font-medium text-lg">{faq_block.BLOCK_TITLE}</p>
		<!-- BEGIN faq_row -->
		<div class="my-1.5">
			<a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">
				{faq_block.faq_row.FAQ_QUESTION}
			</a>
		</div>
		<!-- END faq_row -->
	</div>
	<!-- END faq_block -->
</div>

<!-- BEGIN faq_block -->
		<div class="my-3 p-4">
			<h4 class="my-1.5 text-lg font-medium text-gray-800">{faq_block.BLOCK_TITLE}</h4>
			<!-- BEGIN faq_row -->
			<div class="bg-gray-50 border border-gray-200 rounded py-3 px-4 my-4">

				<dl>
					<dt id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"><p class="font-medium text-lg text-gray-700">{faq_block.faq_row.FAQ_QUESTION}</p></dt>
					<dd class="text-sm text-gray-800">{faq_block.faq_row.FAQ_ANSWER}</dd>
				</dl>
				<a href="#faqlinks" class="top">
					<svg class="w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 20V4"/><path d="M5 11l7-7 7 7"/></svg>
					<span>{L_BACK_TO_TOP}</span>
				</a>
				<!-- IF not faq_block.faq_row.S_LAST_ROW -->
			<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>
			<!-- ENDIF -->
			</div>
			<!-- END faq_row -->
		</div>
<!-- END faq_block -->

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
