<div class="border border-gray-300 rounded shadow-sm my-2">
	<div class="md:flex justify-center items-center items-stretch">
		<div class="flex-none px-2 py-1 md:px-10 md:mx-1 md:py-2 bg-gray-50 border-b md:border-b-0 md:border-r border-gray-200 md:max-w-sm flex items-center">
			<!-- IF S_REGISTERED_USER -->
			<!-- IF CURRENT_USER_AVATAR -->
			<div class="w-32 h-32 mx-auto">{CURRENT_USER_AVATAR}</div>
			<!-- ELSE -->
			<a class="w-auto" href="{U_USER_PROFILE}" title="{USERNAME}"><img src="{T_THEME_PATH}/images/no_avatar.gif"
																			  alt="" class="avatar"/></a>
			<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
		<div class="flex-1 px-4 pt-4 my-2 ml-1 text-xs text-left text-gray-800">
			<form method="post" action="{U_QR_ACTION}" id="qr_postform">
				<!-- EVENT quickreply_editor_panel_before -->
				<div>
					<div>
						<!-- EVENT quickreply_editor_subject_before -->
						<!-- EVENT quickreply_editor_message_before -->
						<div id="message-box" class="message-box">
				<textarea style="height: 9em;" name="message" rows="10" cols="70" tabindex="3"
						  class="input"></textarea>
						</div>
						<!-- EVENT quickreply_editor_message_after -->
					</div>
					<div class="mx-auto my-3 text-center">
						<div class="space-x-1">
							{S_FORM_TOKEN}
							{QR_HIDDEN_FIELDS}
							<input type="submit" accesskey="s" tabindex="7" name="post" value="{L_SUBMIT}"
								   class="button"/>&nbsp;
							<input type="submit" accesskey="f" tabindex="6" name="preview" value="{L_FULL_EDITOR}"
								   class="button button-secondary" id="qr_full_editor"/>&nbsp;
						</div>
					</div>
				</div>
				<!-- EVENT quickreply_editor_panel_after -->
				<input type="hidden" name="subject" id="subject" maxlength="124" tabindex="2" value="{SUBJECT}" />
			</form>
		</div>
	</div>
</div>