<!-- INCLUDE overall_header.html -->

<h2 class="mb-1 text-2xl font-medium">{L_SEARCH}</h2>

<!-- EVENT search_body_form_before -->
<form method="get" action="{S_SEARCH_ACTION}" data-focus="keywords">

	<h4 class="my-1.5 text-lg font-medium text-gray-800">{L_SEARCH_QUERY}</h4>

	<!-- EVENT search_body_search_query_before -->
	<fieldset>
		<!-- EVENT search_body_search_query_prepend -->

		<div class="grid-cols-6 gap-2 md:grid mt-4">
			<div class="py-1 px-2 md:hidden">
				<label for="keywords"
					   class="text-base font-medium text-left text-gray-800">{L_SEARCH_KEYWORDS}{L_COLON}</label>
			</div>
			<div class="hidden md:block col-span-2 text-right py-1.5">
				<label for="keywords"
					   class="text-base text-right text-gray-700 font-medium">{L_SEARCH_KEYWORDS}{L_COLON}</label>
			</div>
			<div class="col-span-3 px-2 md:px-4">
				<input type="search" class="input" name="keywords" id="keywords" size="40" title="{L_SEARCH_KEYWORDS}"/>
				<p class="text-gray-600 text-sm my-1">{L_SEARCH_KEYWORDS_EXPLAIN}</p>

				<div class="my-2 space-y-1">
					<label class="block" for="terms1"><input class="radio-input" type="radio" name="terms" id="terms1"
															 value="all" checked="checked"/>
						{L_SEARCH_ALL_TERMS}</label>
					<label class="block" for="terms1"><input class="radio-input" type="radio" name="terms" id="terms2"
															 value="any" checked="checked"/>
						{L_SEARCH_ANY_TERMS}</label>
				</div>

			</div>
		</div>

		<div class="grid-cols-6 gap-2 md:grid my-4">
			<div class="py-1 px-2 md:hidden">
				<label for="author"
					   class="text-base font-medium text-left text-gray-800">{L_SEARCH_AUTHOR}{L_COLON}</label>
			</div>
			<div class="hidden md:block col-span-2 text-right py-1.5">
				<label for="author"
					   class="text-base text-right text-gray-700 font-medium">{L_SEARCH_AUTHOR}{L_COLON}</label>
			</div>
			<div class="col-span-3 px-2 md:px-4">
				<input type="search" class="input" name="author" id="author" size="40"
					   title="{L_SEARCH_AUTHOR}"/>
			</div>
		</div>
		<!-- EVENT search_body_search_query_append -->
	</fieldset>
	<!-- EVENT search_body_search_query_after -->

	<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>

	<div>


		<h4 class="my-1.5 text-lg font-medium text-gray-800">{L_SEARCH_OPTIONS}</h4>

		<!-- EVENT search_body_search_options_before -->
		<fieldset>
			<!-- EVENT search_body_search_options_prepend -->


			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="search_forum"
						   class="text-base font-medium text-left text-gray-800">{L_SEARCH_FORUMS}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="search_forum"
						   class="text-base text-right text-gray-700 font-medium">{L_SEARCH_FORUMS}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<select name="fid[]" id="search_forum" multiple="multiple" size="8" title="{L_SEARCH_FORUMS}"
							class="input">{S_FORUM_OPTIONS}</select>
					<p class="text-gray-600 text-sm my-1">{L_SEARCH_FORUMS_EXPLAIN}</p>
				</div>
			</div>


			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="search_child1"
						   class="text-base font-medium text-left text-gray-800">{L_SEARCH_SUBFORUMS}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="search_child1"
						   class="text-base text-right text-gray-700 font-medium">{L_SEARCH_SUBFORUMS}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<div class="mt-2">
						<label class="inline-flex items-center">
							<input class="radio-input" type="radio" name="sc" id="search_child1" value="1"
								   checked="checked"/>
							<span class="ml-2">{L_YES}</span>
						</label>
						<label class="inline-flex items-center ml-3">
							<input class="radio-input" type="radio" name="sc" id="search_child2" value="0"/>
							<span class="ml-2">{L_NO}</span>
						</label>
					</div>
				</div>
			</div>

			<div class="grid-cols-6 gap-2 md:grid my-4">
				<div class="py-1 px-2 md:hidden">
					<label for="sf1"
						   class="text-base font-medium text-left text-gray-800">{L_SEARCH_WITHIN}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="sf1" class="text-base text-right text-gray-700 font-medium">{L_SEARCH_WITHIN}{L_COLON}</label>
				</div>
				<div class="col-span-3 md:px-4">
					<div class="mt-2 space-y-2">
						<label class="block items-center">
							<input type="radio" name="sf" id="sf1" value="all" checked="checked" class="radio-input" />
							<span class="ml-2">{L_SEARCH_TITLE_MSG}</span>
						</label>
						<label class="block items-center">
							<input type="radio" name="sf" id="sf2" value="msgonly" class="radio-input" />
							<span class="ml-2">{L_SEARCH_MESSAGE_ONLY}</span>
						</label>
						<label class="block items-center">
							<input type="radio" name="sf" id="sf3" value="titleonly" class="radio-input" />
							<span class="ml-2">{L_SEARCH_TITLE_ONLY}</span>
						</label>
						<label class="block items-center">
							<input type="radio" name="sf" id="sf4" value="firstpost" class="radio-input" />
							<span class="ml-2">{L_SEARCH_FIRST_POST}</span>
						</label>
					</div>
				</div>
			</div>
			<!-- EVENT search_body_search_options_append -->

			<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>

			<!-- EVENT search_body_search_display_options_prepend -->
			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="show_results1"
						   class="text-base font-medium text-left text-gray-800">{L_DISPLAY_RESULTS}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="show_results1" class="text-base text-right text-gray-700 font-medium">{L_DISPLAY_RESULTS}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<div class="mt-2">
						<label class="inline-flex items-center">
							<input class="radio-input" type="radio" name="sr" id="show_results1" value="posts" checked="checked" />
							<span class="ml-2">{L_POSTS}</span>
						</label>
						<label class="inline-flex items-center ml-3">
							<input class="radio-input" type="radio" name="sr" id="show_results2" value="topics" />
							<span class="ml-2">{L_TOPICS}</span>
						</label>
					</div>
				</div>
			</div>
			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="sd"
						   class="text-base font-medium text-left text-gray-800">{L_RESULT_SORT}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="sd"
						   class="text-base text-right text-gray-700 font-medium">{L_RESULT_SORT}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					{S_SELECT_SORT_KEY}&nbsp;

					<div class="my-2 space-y-1">
						<label class="block" for="sa">
							<input type="radio" name="sd" id="sa" value="a" class="radio-input"/> {L_SORT_ASCENDING}
						</label>
						<label class="block" for="terms1">
							<input type="radio" name="sd" id="sd" value="d" class="radio-input" checked="checked"/>
							{L_SORT_DESCENDING}
						</label>
					</div>
				</div>
			</div>
			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="jabber"
						   class="text-base font-medium text-left text-gray-800">{L_RESULT_DAYS}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="jabber"
						   class="text-base text-right text-gray-700 font-medium">{L_RESULT_DAYS}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					{S_SELECT_SORT_DAYS}
				</div>
			</div>
			<!-- EVENT search_body_search_display_options_append -->
		</fieldset>
		<!-- EVENT search_body_search_options_after -->

	</div>

	<div class="space-x-1 mx-auto text-center my-4">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="submit" value="{L_SEARCH}" class="button"/>
	</div>

</form>
<!-- EVENT search_body_form_after -->

<!-- EVENT search_body_recent_search_before -->
<!-- IF .recentsearch -->
<div class="my-2 rounded border border-gray-200 shadow-sm">
	<div class="grid overflow-hidden grid-cols-4 gap-4 px-3 py-2 text-sm text-gray-800 bg-gray-100 border-b border-gray-100 md:grid-cols-12">
		<div class="col-span-2 md:col-span-8">
			{L_RECENT_SEARCHES}
		</div>
		<div class="col-span-2 md:col-span-4">
			{L_TIME}
		</div>
	</div>
	<!-- BEGIN recentsearch -->
	<div class="grid grid-cols-4 gap-4 py-3 px-3 border-t border-gray-100 transition duration-200 ease-in-out md:grid-cols-12 hover:bg-gray-50">
		<div class="col-span-2 md:col-span-8">
			<a href="{recentsearch.U_KEYWORDS}" class="text-base">{recentsearch.KEYWORDS}</a>
		</div>
		<div class="col-span-2 md:col-span-4">
			{recentsearch.TIME}
		</div>
	</div>
	<!-- END recentsearch -->
</div>
<!-- ENDIF -->
<!-- EVENT search_body_recent_search_after -->

<!-- INCLUDE overall_footer.html -->
