<!-- INCLUDE ucp_header.html -->
<div class="flex-grow w-full md:w-4/5">
	<div class="px-6 py-3 mb-3 ml-5 bg-white rounded-md border border-gray-200 shadow">
		<form id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE}>

			<h3 class="my-3 text-xl font-medium text-gray-800">{L_TITLE}</h3>

			<p class="text-sm text-gray-700 max-w-3xl mx-auto text-left pb-2.5 border-b border-gray-100">
				{L_BOOKMARKS_EXPLAIN}</p>

			<!-- IF S_NO_DISPLAY_BOOKMARKS -->
			<div class="mx-auto my-3 max-w-3xl">
				<div class="px-3 py-2 font-medium text-center text-red-600 bg-red-50 rounded-lg border border-red-100">
					{L_BOOKMARKS_DISABLED}
				</div>
			</div>
			<!-- ELSE -->

			<!-- IF .topicrow -->
			<div class="my-2 rounded border border-gray-200 shadow-sm">
				<div class="grid overflow-hidden grid-cols-3 gap-4 px-3 py-2 text-sm text-gray-800 bg-gray-100 border-b border-gray-100 md:grid-cols-5">
					<div class="col-span-2 md:col-span-2">
						{L_WATCHED_TOPICS}
					</div>
					<div class="col-span-2 hidden md:block">
						{L_LAST_POST}
					</div>
					<div class="col-span-1">
						{L_MARK}
					</div>
				</div>
				<!-- BEGIN topicrow -->
				<div class="grid grid-cols-3 gap-4 px-3 py-2 border-t border-gray-100 transition duration-200 ease-in-out md:grid-cols-5 hover:bg-gray-50">
					<div class="col-span-2 md:col-span-2 pl-2 md:pl-4">
						<!-- IF topicrow.U_VIEW_TOPIC -->

						<!-- IF topicrow.S_UNREAD_TOPIC -->
						<a href="{topicrow.U_VIEW_TOPIC}"
						   class="block text-base font-medium" title="{topicrow.TOPIC_TITLE}">{topicrow.TOPIC_TITLE}</a>
						<!-- ELSE -->
						<a href="{topicrow.U_VIEW_TOPIC}"
						   class="block text-base font-medium" title="{topicrow.TOPIC_TITLE}">{topicrow.TOPIC_TITLE}</a>
						<!-- ENDIF -->
						<!-- ELSE -->
						{topicrow.TOPIC_TITLE}
						<!-- ENDIF -->
						<div class="text-sm">
							{L_POST_BY_AUTHOR}
							{topicrow.TOPIC_AUTHOR_FULL}
							<time datetime="{topicrow.FIRST_POST_TIME_RFC3339}">{topicrow.FIRST_POST_TIME}</time>
							<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID -->
							{L_IN}
							<a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a>
							<!-- ENDIF -->
						</div>
					</div>
					<div class="md:flex col-span-2 items-center text-sm hidden">
						<div class="flex hidden justify-between items-center align-middle md:flex">
							<div class="flex-none">
							</div>
							<div class="flex-1 text-left">
								<!-- IF topicrow.LAST_POST_TIME -->
								<!-- IF topicrow.S_DISPLAY_SUBJECT -->
								<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}"
								   class="text-sm font-bold text-gray-800 hover:text-gray-600">{topicrow.LAST_POST_SUBJECT_TRUNCATED}</a>
								<br/>
								<!-- ENDIF -->
								<div class="text-sm">
									<span class="font-medium text-gray-600"><date
											datetime="{forumrow.LAST_POST_TIME_RFC3339}">{topicrow.LAST_POST_TIME}</date></span>
									<p>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}</p>
								</div>
								<!-- ELSE -->
								{L_NO_POSTS}
								<!-- ENDIF -->
							</div>
						</div>
					</div>
					<div class="flex col-span-1 items-center">
						<div>
							<input class="checkbox-input" type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}"/>
						</div>
					</div>
				</div>
				<!-- END topicrow -->
			</div>
			<!-- ELSE -->
			<div class="text-center my-4 text-gray-600">
				<svg class="h-14 w-14 inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Pencil"><path d="M4.333 16.048L16.57 3.81a2.56 2.56 0 0 1 3.62 3.619L7.951 19.667a2 2 0 0 1-1.022.547L3 21l.786-3.93a2 2 0 0 1 .547-1.022z"></path><path d="M14.5 6.5l3 3"></path></svg>
				<p class="my-2 font-bold text-center text-lg">{L_NO_BOOKMARKS}</p>
			</div>
			<div class="flex justify-end my-2">
				{TOTAL_TOPICS}
				<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
				{PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
			<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF .topicrow and not S_NO_DISPLAY_BOOKMARKS -->
			<div class="mx-auto my-4 text-center">
				<div class="space-x-1">
					<input type="submit" name="unbookmark" value="{L_REMOVE_BOOKMARK_MARKED}" class="button"/>
					<a class="button button-secondary" href="#" onclick="marklist('ucp', '', true); return false;">{L_MARK_ALL}</a>
					<a class="button button-secondary" href="#" onclick="marklist('ucp', '', false); return false;">{L_UNMARK_ALL}</a>
					{S_FORM_TOKEN}
				</div>
			</div>
			<!-- ENDIF -->
		</form>
	</div>
</div>
<!-- INCLUDE ucp_footer.html -->