<!-- INCLUDE ucp_pm_header.html -->
<div class="flex-grow w-full md:w-4/5">
	<div class="px-6 py-3 mb-3 ml-5 bg-white rounded-md border border-gray-200 shadow">
		<form id="ucp" method="post" action="{S_UCP_ACTION}">

			<h3 class="my-3 text-xl font-medium text-gray-800">{L_TITLE}</h3>

			<!-- IF ERROR -->
			<div class="max-w-3xl mx-auto my-3">
				<div class="rounded-lg bg-red-50 text-red-600 border border-red-100 font-medium py-2 px-3 text-center">
					{ERROR}
				</div>
			</div>
			<!-- ENDIF -->

			<!-- IF NOTIFICATION_MESSAGE -->
			<div class="max-w-3xl mx-auto my-3">
				<div class="rounded-lg bg-red-50 text-red-600 border border-red-100 font-medium py-2 px-3 text-center">
					{NOTIFICATION_MESSAGE}
				</div>
			</div>
			<!-- ENDIF -->

			<h4 class="my-1.5 text-lg font-medium text-gray-800">{L_DEFINED_RULES}</h4>

			<div>

				<!-- BEGIN rule -->

				<div class="flex justify-between items-center max-w-md mx-auto border-b border-gray-200 pb-2">
					<div>
						<span class="font-medium">{L_IF}</span>
						{rule.CHECK}
						<span class>{rule.RULE}</span>
						<!-- IF rule.STRING -->
						<span class="font-medium">{rule.STRING}</span>
						| <!-- ENDIF -->
						{rule.ACTION}<!-- IF rule.FOLDER -->{L_COLON} {rule.FOLDER}<!-- ENDIF -->
					</div>

					<div>
						<input type="submit" name="delete_rule[{rule.RULE_ID}]" value="{L_DELETE_RULE}" class="button"/>
					</div>
				</div>

				<!-- BEGINELSE -->
				<div class="text-center my-4 text-gray-600">
					<svg class="h-14 w-14 inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
						 stroke-linejoin="round">
						<circle cx="12" cy="12" r="10"/>
						<path d="M5 19L19 5"/>
					</svg>
					<p class="my-2 font-bold text-center text-lg">{L_NO_RULES_DEFINED}</p>
				</div>
				<!-- END rule -->
			</div>
			<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>

			<h4 class="my-1.5 text-lg font-medium text-gray-800">{L_ADD_NEW_RULE}</h4>

			<fieldset class="fields2">

				<!-- IF S_CHECK_DEFINED -->
				<div class="grid-cols-6 gap-2 md:grid mt-4 w-full flex items-center">
					<div class="py-1 px-2 md:hidden">
						<label <!-- IF S_CHECK_SELECT --> for="check_option"<!-- ENDIF -->
						class="text-base font-medium text-left text-gray-800">{L_IF}{L_COLON}</label>
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<label <!-- IF S_CHECK_SELECT --> for="check_option"<!-- ENDIF -->
						class="text-base text-right text-gray-700 font-medium">{L_IF}{L_COLON}</label>
					</div>
					<div class="col-span-3 px-2 md:px-4 flex items-center">
						<div class="flex space-x-2 items-center align-middle">
							<div class="flex-auto">
								<!-- IF S_CHECK_SELECT -->
								<select name="check_option" id="check_option"
										class="input w-full">{S_CHECK_OPTIONS}</select>
								<!-- ELSE -->
								{CHECK_CURRENT}
								<input type="hidden" name="check_option" value="{CHECK_OPTION}"/>
								<!-- ENDIF -->
							</div>
							<div class="flex-1">
								<!-- IF S_CHECK_SELECT -->
								<input type="submit" name="next" value="{L_NEXT_STEP}" class="button"/>
								<!-- ENDIF -->
							</div>
						</div>
					</div>
				</div>
				<!-- ENDIF -->

				<!-- IF S_RULE_DEFINED -->
				<div class="grid-cols-6 gap-2 md:grid mt-4 flex items-center">
					<div class="py-1 px-2 md:hidden">
						<!-- IF S_RULE_SELECT -->
						<input type="submit" name="back[rule]" value="{L_PREVIOUS_STEP}"
							   class="button button-secondary"/>
						<!-- ELSE -->
						<label class="text-base text-right text-gray-700 font-medium">{L_RULE}{L_COLON}</label>
						<!-- ENDIF -->
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<!-- IF S_RULE_SELECT -->
						<input type="submit" name="back[rule]" value="{L_PREVIOUS_STEP}"
							   class="button button-secondary"/>
						<!-- ELSE -->
						<label class="text-base text-right text-gray-700 font-medium">{L_RULE}{L_COLON}</label>
						<!-- ENDIF -->
					</div>
					<div class="col-span-3">
						<!-- IF S_RULE_SELECT -->
						<div class="flex space-x-2 items-center">
							<div class="flex-auto">
								<select name="rule_option" id="rule_option" class="input">{S_RULE_OPTIONS}</select>
							</div>
							<div class="flex-1">
								<input type="submit" name="next" value="{L_NEXT_STEP}" class="button"/>
							</div>
						</div>
						<!-- ELSE -->
						<span>{RULE_CURRENT}</span>
						<input type="hidden" name="rule_option" value="{RULE_OPTION}"/>
						<!-- ENDIF -->
					</div>
				</div>
				<!-- ENDIF -->

				<!-- IF S_COND_DEFINED -->
				<!-- IF S_COND_SELECT or COND_CURRENT -->
				<div class="grid-cols-6 gap-2 md:grid mt-4 flex items-center">
					<div class="py-1 px-2 md:hidden">
						<!-- IF S_COND_SELECT -->
						<input type="submit" name="back[cond]" value="{L_PREVIOUS_STEP}" class="button"/>
						<!-- ELSE -->
						<label class="text-base text-right text-gray-700 font-medium">{L_CONDITION}{L_COLON}</label>
						<!-- ENDIF -->
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<!-- IF S_COND_SELECT -->
						<input type="submit" name="back[cond]" value="{L_PREVIOUS_STEP}"
							   class="button button-secondary"/>
						<!-- ELSE -->
						<label class="text-base text-right text-gray-700 font-medium">{L_CONDITION}{L_COLON}</label>
						<!-- ENDIF -->
					</div>
					<div class="col-span-3">
						<!-- IF S_COND_SELECT -->
						<!-- IF S_TEXT_CONDITION -->
						<div class="flex space-x-2 items-center">
							<div class="flex-auto">
								<input type="text" name="rule_string" value="{CURRENT_STRING}" class="input"
									   maxlength="250"/>
								<!-- ELSEIF S_USER_CONDITION -->
								<input type="text" name="rule_string" value="{CURRENT_STRING}"
									   class="input"/>&nbsp;<span>[ <a href="{U_FIND_USERNAME}"
																	   onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span>
								<!-- ELSEIF S_GROUP_CONDITION -->
								<input type="hidden" name="rule_string" value="{CURRENT_STRING}"/>
								<!-- IF S_GROUP_OPTIONS -->
								<select name="rule_group_id" class="input">{S_GROUP_OPTIONS}</select>
								<!-- ELSE -->
								<span class="font-medium">{L_NO_GROUPS}</span>
								<!-- ENDIF -->
								<!-- ENDIF -->
							</div>
							<div class="flex-1">
								<input type="submit" name="next" value="{L_NEXT_STEP}" class="button"/>
							</div>
						</div>
						<!-- ELSE -->
						<span class="font-medium">{COND_CURRENT}</span>
						<input type="hidden" name="rule_string" value="{CURRENT_STRING}"/>
						<input type="hidden" name="rule_user_id" value="{CURRENT_USER_ID}"/><input type="hidden"
																								   name="rule_group_id"
																								   value="{CURRENT_GROUP_ID}"/>
						<!-- ENDIF -->
					</div>
				</div>
				<!-- ENDIF -->
				<input type="hidden" name="cond_option" value="{COND_OPTION}"/>
				<!-- ENDIF -->

				<!-- IF NONE_CONDITION -->
				<input type="hidden" name="cond_option" value="none"/>
				<!-- ENDIF -->

				<!-- IF S_ACTION_DEFINED -->
				<div class="grid-cols-6 gap-2 md:grid mt-4 flex items-center">
					<div class="py-1 px-2 md:hidden">
						<!-- IF S_ACTION_SELECT -->
						<input type="submit" name="back[action]" value="{L_PREVIOUS_STEP}"
							   class="button button-secondary"/>
						<!-- ELSE -->
						<label class="text-base text-right text-gray-700 font-medium">{L_ACTION}{L_COLON}</label>
						<!-- ENDIF -->
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<!-- IF S_ACTION_SELECT -->
						<input type="submit" name="back[action]" value="{L_PREVIOUS_STEP}"
							   class="button button-secondary"/>
						<!-- ELSE -->
						<label class="text-base text-right text-gray-700 font-medium">{L_ACTION}{L_COLON}</label>
						<!-- ENDIF -->
					</div>
					<div class="col-span-3">
						<!-- IF S_ACTION_SELECT -->
						<div class="flex space-x-2 items-center">
							<div class="flex-auto">
								<select name="action_option" class="input">{S_ACTION_OPTIONS}</select>
							</div>
							<div class="flex-1">
								<input type="submit" name="add_rule" value="{L_ADD_RULE}" class="button"/>
							</div>
						</div>
						<!-- ELSE -->
						<span>{ACTION_CURRENT}</span>
						<input type="hidden" name="action_option" value="{ACTION_OPTION}"/>
						<!-- ENDIF -->
					</div>
				</div>
				<!-- ENDIF -->

			</fieldset>
			<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>

			<h4 class="my-1.5 text-lg font-medium text-gray-800">{L_FOLDER_OPTIONS}</h4>

			<fieldset class="fields2">

				<!-- IF not S_MAX_FOLDER_ZERO -->
				<div class="grid-cols-6 gap-2 md:grid my-4">
					<div class="py-1 px-2 md:hidden">
						<label for="foldername"
							   class="text-base font-medium text-left text-gray-800">{L_ADD_FOLDER}{L_COLON}</label>
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<label for="foldername"
							   class="text-base text-right text-gray-700 font-medium">{L_ADD_FOLDER}{L_COLON}</label>
					</div>
					<div class="col-span-3 px-2 md:px-4">
						<div class="flex space-x-2 items-center align-middle">
							<div class="flex-auto">
								<!-- IF S_MAX_FOLDER_REACHED -->
								{L_MAX_FOLDER_REACHED}
								<!-- ELSE -->
								<input type="text" class="input" name="foldername" id="foldername" size="30"
									   maxlength="30"/>
								<!-- ENDIF -->
							</div>
							<div class="flex-1">
								<!-- IF !S_MAX_FOLDER_REACHED -->
								<input class="button" type="submit" name="addfolder" value="{L_ADD}"/>
								<!-- ENDIF -->
							</div>
						</div>
					</div>
				</div>

				<!-- IF S_FOLDER_OPTIONS -->
				<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>
				<!-- ENDIF -->

				<!-- ENDIF -->

				<!-- IF S_FOLDER_OPTIONS -->
				<dl>
					<dt><label for="rename_folder_id">{L_RENAME_FOLDER}{L_COLON}</label></dt>
					<dd><select name="rename_folder_id" id="rename_folder_id">{S_FOLDER_OPTIONS}</select></dd>
					<dt><label for="new_folder_name">{L_NEW_FOLDER_NAME}{L_COLON}</label></dt>
					<dd><input type="text" class="inputbox tiny" name="new_folder_name" id="new_folder_name"
							   maxlength="30"/> <input class="button2" type="submit" name="rename_folder"
													   value="{L_RENAME}"/></dd>
				</dl>
				<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>
				<dl>
					<dt><label for="remove_folder_id">{L_REMOVE_FOLDER}{L_COLON}</label></dt>
					<dd><select name="remove_folder_id" id="remove_folder_id">{S_FOLDER_OPTIONS}</select></dd>
					<dd style="margin-top: 3px;"><label for="remove_action1"><input type="radio"
																					name="remove_action"
																					id="remove_action1"
																					value="1"
																					checked="checked"/>
						{L_MOVE_DELETED_MESSAGES_TO}{L_COLON}</label> <select
							name="move_to">{S_TO_FOLDER_OPTIONS}</select>
					</dd>
					<dd style="margin-top: 3px;"><label for="remove_action2"><input type="radio"
																					name="remove_action"
																					id="remove_action2"
																					value="2"/>
						{L_DELETE_MESSAGES_IN_FOLDER}</label></dd>
					<dd style="margin-top: 3px;"><input class="button2" type="submit" name="remove_folder"
														value="{L_REMOVE}"/></dd>
				</dl>
				<!-- ENDIF -->

				<div class="border-b border-gray-100 my-2 max-w-xl mx-auto"></div>

				<h4 class="my-1.5 text-lg font-medium text-gray-800">{L_FOLDER_OPTIONS}</h4>

				<div class="grid-cols-6 gap-2 md:grid mt-4">
					<div class="py-1 px-2 md:hidden">
						<label for="full_action"
							   class="text-base font-medium text-left text-gray-800">{L_IF_FOLDER_FULL}{L_COLON}</label>
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<label for="full_action" class="text-base text-right text-gray-700 font-medium">{L_IF_FOLDER_FULL}{L_COLON}</label>
					</div>
					<div class="col-span-3 px-2 md:px-4">
						<div class="mt-2 space-y-3">
							<label class="inline-flex items-center">
								<input type="radio" name="full_action" id="full_action1" value="1" class="radio-input"
									   {S_DELETE_CHECKED}/>
								<span class="ml-2">{L_DELETE_OLDEST_MESSAGES}</span>
							</label>
							<label class="inline-flex items-center mr-3">
								<input type="radio" name="full_action" id="full_action2" value="2" class="radio-input"
									   {S_MOVE_CHECKED}/>
								<span class="ml-2">{L_MOVE_TO_FOLDER}</span>
								<select name="full_move_to" class="input">{S_FULL_FOLDER_OPTIONS}</select>
							</label>
							<label class="inline-flex items-center mr-3">
								<input type="radio" name="full_action" id="full_action3" value="3" class="radio-input"
									   {S_HOLD_CHECKED}/>
								<span class="ml-2">{L_HOLD_NEW_MESSAGES}</span>
							</label>
						</div>
					</div>
				</div>

				<div class="grid-cols-6 gap-2 md:grid mt-4">
					<div class="py-1 px-2 md:hidden">
						<label for="jabber"
							   class="text-base font-medium text-left text-gray-800">{L_DEFAULT_ACTION}{L_COLON}</label>
					</div>
					<div class="hidden md:block col-span-2 text-right py-1.5">
						<label for="jabber"
							   class="text-base text-right text-gray-700 font-medium">{L_DEFAULT_ACTION}{L_COLON}</label>
					</div>
					<div class="col-span-3 px-2 md:px-4">
						{DEFAULT_ACTION}
					</div>
				</div>

				<div class="mx-auto my-4 text-center">
					<div class="space-x-1">
						<input class="button" type="submit" name="fullfolder" value="{L_CHANGE}"/>
						{S_FORM_TOKEN}
					</div>
				</div>

			</fieldset>
			{S_FORM_TOKEN}
		</form>
	</div>
</div>
<!-- INCLUDE ucp_pm_footer.html -->
