<!-- INCLUDE ucp_header.html -->
<div class="flex-grow w-full md:w-4/5">
	<div class="px-6 py-3 mb-3 ml-5 bg-white rounded-md border border-gray-200 shadow">
		<form id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE}>

			<h3 class="my-3 text-xl font-medium text-gray-800">{L_TITLE}</h3>

			<!-- IF ERROR -->
			<div class="max-w-3xl mx-auto my-3">
				<div class="rounded-lg bg-red-50 text-red-600 border border-red-100 font-medium py-2 px-3 text-center">
					{ERROR}
				</div>
			</div>
			<!-- ENDIF -->

			<!-- EVENT ucp_prefs_post_prepend -->

			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="bbcode1"
						   class="text-base font-medium text-left text-gray-800">{L_DEFAULT_BBCODE}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="bbcode1" class="text-base text-right text-gray-700 font-medium">{L_DEFAULT_BBCODE}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<div class="mt-2">
						<label class="inline-flex items-center">
							<input class="radio-input" type="radio" name="bbcode" id="bbcode1" value="1" <!-- IF S_BBCODE --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_YES}</span>
						</label>
						<label class="inline-flex items-center ml-3">
							<input class="radio-input" type="radio" name="bbcode" id="bbcode0" value="0" <!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_NO}</span>
						</label>
					</div>
				</div>
			</div>

			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="smilies1"
						   class="text-base font-medium text-left text-gray-800">{L_DEFAULT_SMILIES}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="smilies1" class="text-base text-right text-gray-700 font-medium">{L_DEFAULT_SMILIES}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<div class="mt-2">
						<label class="inline-flex items-center">
							<input class="radio-input" type="radio" name="smilies" id="smilies1" value="1" <!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_YES}</span>
						</label>
						<label class="inline-flex items-center ml-3">
							<input class="radio-input" type="radio" name="smilies" id="smilies0" value="0" <!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_NO}</span>
						</label>
					</div>
				</div>
			</div>

			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="sig1"
						   class="text-base font-medium text-left text-gray-800">{L_DEFAULT_ADD_SIG}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="sig1" class="text-base text-right text-gray-700 font-medium">{L_DEFAULT_ADD_SIG}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<div class="mt-2">
						<label class="inline-flex items-center">
							<input class="radio-input" type="radio" name="sig" id="sig1" value="1" <!-- IF S_SIG --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_YES}</span>
						</label>
						<label class="inline-flex items-center ml-3">
							<input class="radio-input" type="radio" name="sig" id="sig0" value="0" <!-- IF not S_SIG --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_NO}</span>
						</label>
					</div>
				</div>
			</div>

			<div class="grid-cols-6 gap-2 md:grid mt-4">
				<div class="py-1 px-2 md:hidden">
					<label for="notify1"
						   class="text-base font-medium text-left text-gray-800">{L_DEFAULT_NOTIFY}{L_COLON}</label>
				</div>
				<div class="hidden md:block col-span-2 text-right py-1.5">
					<label for="notify1" class="text-base text-right text-gray-700 font-medium">{L_DEFAULT_NOTIFY}{L_COLON}</label>
				</div>
				<div class="col-span-3 px-2 md:px-4">
					<div class="mt-2">
						<label class="inline-flex items-center">
							<input class="radio-input" type="radio" name="notify" id="notify1" value="1" <!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_YES}</span>
						</label>
						<label class="inline-flex items-center ml-3">
							<input class="radio-input" type="radio" name="notify" id="notify0" value="0" <!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> />
							<span class="ml-2">{L_NO}</span>
						</label>
					</div>
				</div>
			</div>
			<!-- EVENT ucp_prefs_post_append -->

			<div class="mx-auto my-4 text-center">
				<div class="space-x-1">
					{S_HIDDEN_FIELDS}
					<input type="submit" name="submit" value="{L_SUBMIT}" class="button"/>
					{S_FORM_TOKEN}
				</div>
			</div>
		</form>
	</div>
</div>
<!-- INCLUDE ucp_footer.html -->
