<!-- INCLUDE overall_header.html -->

<form action="{{ U_RESET_PASSWORD_ACTION }}" method="post" id="reset_password">

	<h2 class="mb-1 text-2xl font-medium">{{ lang('RESET_PASSWORD') }}</h2>

	<fieldset>
		{% if S_IS_PASSWORD_RESET %}

		{% if PASSWORD_RESET_ERRORS %}
		<div class="max-w-3xl mx-auto my-3">
			<div class="rounded-lg bg-red-50 text-red-600 border border-red-100 font-medium py-2 px-3 text-center">
				{{ PASSWORD_RESET_ERRORS | join('<br>') }}
			</div>
		</div>
		{% endif %}
		<div class="grid-cols-6 gap-2 md:grid mt-4">
			<div class="py-1 px-2 md:hidden">
				<label for="new_password"
					   class="text-base font-medium text-left text-gray-800">{{ lang('NEW_PASSWORD') ~ lang('COLON')
					}}</label>
			</div>
			<div class="hidden md:block col-span-2 text-right py-1.5">
				<label for="new_password"
					   class="text-base text-right text-gray-700 font-medium">{{ lang('NEW_PASSWORD') ~ lang('COLON')
					}}</label>
			</div>
			<div class="col-span-3 px-2 md:px-4">
				<input class="input" type="password" name="new_password" id="new_password" size="25" maxlength="255"
					   title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off"/>
				<p class="text-sm text-gray-600 my-1">{{ lang('CHANGE_PASSWORD_EXPLAIN') }}</p>
			</div>
		</div>

		<div class="grid-cols-6 gap-2 md:grid mt-4">
			<div class="py-1 px-2 md:hidden">
				<label for="new_password_confirm"
					   class="text-base font-medium text-left text-gray-800">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON')
					}}</label>
			</div>
			<div class="hidden md:block col-span-2 text-right py-1.5">
				<label for="new_password_confirm"
					   class="text-base text-right text-gray-700 font-medium">{{ lang('CONFIRM_PASSWORD') ~
					lang('COLON') }}</label>
			</div>
			<div class="col-span-3 px-2 md:px-4">
				<input class="input" type="password" name="new_password_confirm" id="new_password_confirm" size="25"
					   maxlength="255" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off"/>
			</div>
		</div>
		{% else %}
		{% if USERNAME_REQUIRED %}
		<div class="max-w-3xl mx-auto my-3">
			<div class="rounded-lg bg-red-50 text-red-600 border border-red-100 font-medium py-2 px-3 text-center">
				{{ lang('EMAIL_NOT_UNIQUE') }}
			</div>
		</div>
		{% endif %}
		<div class="grid-cols-6 gap-2 md:grid mt-4">
			<div class="py-1 px-2 md:hidden">
				<label for="email"
					   class="text-base font-medium text-left text-gray-800">{{ lang('EMAIL_ADDRESS') ~ lang('COLON')
					}}</label>
			</div>
			<div class="hidden md:block col-span-2 text-right py-1.5">
				<label for="email"
					   class="text-base text-right text-gray-700 font-medium">{{ lang('EMAIL_ADDRESS') ~ lang('COLON')
					}}</label>
			</div>
			<div class="col-span-3 px-2 md:px-4">
				<input class="input" type="email" name="email" id="email" size="25" maxlength="100" value="{{ EMAIL }}"
					   autofocus/>
			</div>
		</div>
		{% if USERNAME_REQUIRED %}
		<div class="grid-cols-6 gap-2 md:grid mt-4">
			<div class="py-1 px-2 md:hidden">
				<label for="username"
					   class="text-base font-medium text-left text-gray-800">{{ lang('USERNAME') ~ lang('COLON')
					}}</label>
			</div>
			<div class="hidden md:block col-span-2 text-right py-1.5">
				<label for="username"
					   class="text-base text-right text-gray-700 font-medium">{{ lang('USERNAME') ~ lang('COLON')
					}}</label>
			</div>
			<div class="col-span-3 px-2 md:px-4">
				<input class="input" type="text" name="username" id="username" size="25"/>
			</div>
		</div>
		{% endif %}
		{% endif %}

		<div class="mx-auto my-4 text-center">
			<div class="space-x-1">
				{S_HIDDEN_FIELDS}
				<input type="submit" name="submit" id="submit" class="button" value="{{ lang('SUBMIT') }}" tabindex="2"/>
				{{ S_FORM_TOKEN }}
			</div>
		</div>
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
